@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.bg-image {
    background-image: url('./components/img/background.png');
    background-size: cover;
    background-position: center;
  }